body {

font-family: sans-serif;
}

article.primera {

display: flex;
}

.primera p{


width: 200px;
margin: 10px;
border: 2px solid black;
text-align: justify;
}

article.segunda {

display: flex;
justify-content: space-around; 
}
    
.segunda p{
    
text-align: justify;
width: 200px;
margin: 10px;
border: 2px solid black;
}

article.tercera {

display: flex;
align-items: center;
}
        
.tercera p{
        
text-align: justify;
width: 200px;
margin: 10px;
border: 2px solid black;
}

div.ficha {

border: black 2px solid;
margin: 10px;
}

article.primera1 {

display: flex;
flex-wrap: wrap;

}

.primera1 p{

text-align: justify;
}

.primera1 h2 {

background-color: rgb(185, 185, 185);
margin: 0px;
text-align: center;
padding: 5px;
}

.primera1 div {

width: 200px;
border: 2px solid black;
margin: 10px;

}

article.primera2 {

display: flex;
align-items: center;
    
 }
    
.primera2 p{
    
text-align: justify;

}
    
.primera2 h2 {
    
background-color: rgb(185, 185, 185);
margin: 0px;
text-align: center;
padding: 5px;
}

.primera2 div {
    
width: 200px;
border: 2px solid black;
margin: 10px;
   
}

  
article.a13 {
align-items: center;
}
  
article.a13 p.p3 {
width: 200px;
margin: 10px;
border: black 2px solid;
}

article.a21 div.ficha {
width: 200px;
  }

article.a22 {
align-items: center;
}
  
article.a22 div.ficha {
width: 200px;
}
  
article.a22 p.p2 {
border-bottom: black 2px solid;
}

article.a23 {

display:flex

}
  
article.a23 div.ficha {
display: flex;
flex-direction: row;
width: 250px;
text-align: justify;

}
  
article.a23 p.p1 {
font-size: 400%;
}

article.a24 {
align-items: center;
display: flex;
}
  
article.a24 div.ficha {
display: flex;
flex-direction: row;
width: 250px;
}
  
article.a24 p.p1 {
border-right: black 2px solid;
font-size: 400%;
margin: 0;
}
  
article.a24 p.p3 {
background-color: lightgray;
margin: 0;
text-align: justify;
}

article.a25 {
display: flex;
}
  
article.a25 div.ficha {
display: flex;
flex-direction: row;
width: 250px;
background-color: lightgray;
}
 
article.a25 p.p1 {
border-right: black 2px solid;
font-size: 400%;
background-color: white;
margin: 0;
}
  
article.a25 p.p2 {
flex-grow: 1;
align-self: center;
margin: 0;
text-align: center;
font-size: 150%;
font-weight: bold;
}

article.a31 {

    display: flex;

}
article.a31 div.ficha {
width: 200px;
}
  
article.a31 p.p1 {
font-size: 600%;
text-align: center;
margin: 0;
}
  
article.a31 p.p2 {

background-color: lightgray;
text-align: center;
font-size: 150%;
font-weight: bold;
margin: 0;
}

article.a32 {

display: flex;
}
article.a32 div.ficha {
width: 300px;
display: flex;
flex-direction: row;
}
  
  article.a32 div.parte {
    display: flex;
    flex-direction: column;
    border-left: black 2px solid;
  }
  
article.a32 p.p1 {

font-size: 600%;
align-self: center;

}
  
article.a32 p.p2 {

border-bottom: black 2px solid;
background-color: lightgray;
text-align: center;
font-size: 150%;
font-weight: bold;
margin: 0;
padding: 5px;
  }

article.a33 {

display: flex;

}
  
article.a33 div.ficha {

width: 300px;
display: flex;
flex-direction: column;
}
  
article.a33 div.parte {

width: 100%;
display: flex;
flex-direction: row;
background-color: lightgray;

}
  
article.a33 p.p1 {
font-size: 400%;
border-bottom: black 2px solid;
border-right: black 2px solid;
border-bottom-right-radius: 10px;
margin: 0;

}
  
article.a33 p.p2 {
align-self: center;
align-content: center;
font-size: 150%;
font-weight: bold;
}